[Unit]
Description=Delta Beta Telegram Bot (podman)
After=nginx.service

[Service]
Restart=always
RestartSec=5

User=delta.qwasa.net
Group=delta.qwasa.net

ExecStart=/usr/bin/podman start -a delta_tgbot
ExecStop=/usr/bin/podman stop -t 2 delta_tgbot

[Install]
WantedBy=default.target
